<h1>Edit {{toDot.description}}</h1>
<hr>
<div class="row">
  <form action="/toDonts/{{toDot.id}}?_method=PUT" method="POST" class="col-md-6 col-md-offset-3">
  <form class="col-md-6 col-md-offset-3">
    <div class="form-group">
      <label for="description">Description:</label>
      <input type="text" name="description" class="form-control" value="{{toDot.description}}">
    </div><br>
    <div class="form-group">
      <label for="urgent">Urgent:</label>
      <input type="text" name="urgent" class="form-control" value="{{toDot.urgent}}" />
    </div>
    <div>
      <input type="submit" value="Update To Donts" class="btn btn-default">
    </div>
  </form>
</div>