<h1>CREATE A NEW TO DONOTS</h1>

<form method="POST" action="/toDonts">
  <div>
    <label for="description">Description:</label>
    <input type="text" name="description">
    </div>
    <label for="urgent">Urgent: </label><br>
    <span>yes</span><input type='radio' name='urgent' value="true" checked>
    <span>no</span><input type='radio' name='urgent' value="false"/>
  </div>
  <button>Submit!</button>
</form>